################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/thirdparty/builds/VisualStudio2022
/thirdparty/vcpkg
/builds
/thirdparty/builds
/sample_code
/unittest/builds/VisualStudio2022
/LighttWave
/framework/engine_core/generated/embedded_ptx.h
/resources/RenderDog/ptx/Debug/sm_86/optix_shocker_copybuffers.ptx
/resources/RenderDog/ptx/Debug/sm_86/optix_shocker_kernels.ptx
/crash.jpg
/resources/RenderDog/ptx/Debug/sm_86/optix_claudia_kernels.ptx
/resources/RenderDog/ptx/Debug/sm_86/optix_milo_kernels.ptx
/resources/RenderDog/ptx/Release/sm_86/compute_light_probs.ptx
/resources/RenderDog/ptx/Release/sm_86/optix_claudia_copybuffers.ptx
/resources/RenderDog/ptx/Release/sm_86/optix_claudia_gbuffer.ptx
/resources/RenderDog/ptx/Release/sm_86/optix_claudia_kernels.ptx
/resources/RenderDog/ptx/Release/sm_86/optix_milo_kernels.ptx
/resources/RenderDog/ptx/Release/sm_86/optix_ripr_copybuffers.ptx
/resources/RenderDog/ptx/Release/sm_86/optix_ripr_gbuffer.ptx
/resources/RenderDog/ptx/Release/sm_86/optix_ripr_kernels.ptx
