################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/thirdparty/builds/VisualStudio2022
/thirdparty/vcpkg
/builds
/thirdparty/builds
/sample_code
